body{
    margin: 0;
}

.page{
    background-size: cover;
    background-position: left;
}

#page-1{
    background-image: url(top.JPG);
    /* text-align: left; */
    /* padding-top: 50vh; */
    min-height: 100vh;
    box-sizing: border-box;
}